<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Success
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Success</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <h1></h1>
  <div id="container">
    <strong>You have successfully logged out.</strong>
    <p>To log back in return <a target="_blank" rel="noopener noreferrer" (click)="returnHome()">Home</a></p>
  </div>
</ion-content>
